################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/obj
/Database/obj
/Domain/obj
/Presentation/obj
/Services/obj
/Tests/obj
